Python/AWSサンプル/venv311/
__pycache__/
venv39/
**/.venv/
Python/imagedownload/logs/log.txt
Python/AWSサンプル/dynamoutil/.coverage
Python/AWSサンプル/dynamoutil/.coverage
Python/CertificateUtil/.coverage
Python/AWSサンプル/dynamoutil/.coverage
